<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Satisfy' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">

<div id="header_bar">

	<div class ="nav_button">
		<%= link_to "+ New", "/pictures/new" %>
	</div>

	<div id="page_name_div">
		<a href="/pictures"><p id="page_name">Photify</p></a>
	</div>

</div>

<div id="sidebar">
	<p><%= link_to "Category-People", "/pictures/people", :class=>"category_link" %></p>
</div>



<div id="content">
	<%= yield %>	
</div>

</div>
</body>
</html>
